{
  "branches": [
    "main",
    "semantic-release-testing",
    {
      "name": "test",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "@fingerprintjs/conventional-changelog-dx-team",
        "releaseRules": "@fingerprintjs/conventional-changelog-dx-team/release-rules"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "config": "@fingerprintjs/conventional-changelog-dx-team"
      }
    ],
    [
      "@fingerprintjs/semantic-release-native-sdk-plugin",
      {
        "iOSPodSpecJsonPath": "RNFingerprintjsPro.podspec.json",
        "androidPath": "android",
        "androidGradleTaskName": "printFingerprintNativeSDKVersion"
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "yarn build"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ]
      }
    ]
  ]
}
