name: Test React Native Library

on:
  push:

jobs:
  android-build-TestProject:
    name: Android TestProject - Build and Test React Native Library
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: |
          yarn install
          yarn build
          cd TestProject
          yarn install

      - name: Build Android
        run: |
          cd TestProject/android
          ./gradlew assembleDebug

      - name: Start Metro Bundler # and Test App
        run: |
          cd TestProject
          yarn start &
          sleep 10 # Allow Metro Bundler to start
        #  yarn test

  ios-build-TestProject:
    name: iOS TestProject - Build and Test React Native Library
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: |
          yarn install
          yarn build
          cd TestProject
          yarn install

      - name: Install Pods
        run: |
          cd TestProject/ios
          pod install

      - name: Build iOS
        env:
          CI: true
        run: |
          cd TestProject/ios
          xcodebuild -workspace TestProject.xcworkspace -scheme TestProject -sdk iphonesimulator -configuration Debug build

      - name: Start Metro Bundler # and Test App
        run: |
          cd TestProject
          yarn start &
          sleep 10 # Allow Metro Bundler to start
        #  yarn test

  android-build-TestProjectLatestRN:
    name: Android TestProjectLatestRN - Build and Test React Native Library
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: |
          yarn install
          yarn build
          cd TestProjectLatestRN
          yarn install

      - name: Build Android
        run: |
          cd TestProjectLatestRN/android
          ./gradlew assembleDebug

      - name: Start Metro Bundler # and Test App
        run: |
          cd TestProjectLatestRN
          yarn start &
          sleep 10 # Allow Metro Bundler to start
        #  yarn test

  ios-build-TestProjectLatestRN:
    name: iOS TestProjectLatestRN - Build and Test React Native Library
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: |
          yarn install
          yarn build
          cd TestProjectLatestRN
          yarn install

      - name: Install Pods
        run: |
          cd TestProjectLatestRN/ios
          pod install

      - name: Build iOS
        env:
          CI: true
        run: |
          cd TestProjectLatestRN/ios
          xcodebuild -workspace TestProjectLatestRN.xcworkspace -scheme TestProjectLatestRN -sdk iphonesimulator -configuration Debug build

      - name: Start Metro Bundler # and Test App
        run: |
          cd TestProjectLatestRN
          yarn start &
          sleep 10 # Allow Metro Bundler to start
        #  yarn test
